@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Bootstrap Icons Test</h2>

    <i class="bi bi-alarm" style="font-size:2rem"></i>
    <i class="bi bi-heart-fill text-danger" style="font-size:2rem"></i>
    <i class="bi bi-check-circle-fill text-success" style="font-size:2rem"></i>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
